body
{
  background-image: url("background-floue.png");
}

.body
{
  padding-left: 5%;
  padding-right: 5%;
}
header
{
  background-color: rgb(22, 21, 21);
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

footer
{
  background-color: rgb(22, 21, 21);
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
ol
{
  list-style-type: lower-alpha;
}

table,th,td
{
  border: 1px solid black;
  text-align: center;
}

#animate
{
  width: 70%;
  height: auto;
  border: 1px solid black;
  background-color: grey;
}
marquee
{
  text-align: center;
}

.Question
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Answer
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav
{
  background-color:  black;
  color: white;
  position:fixed;
  bottom: 0px;
  border: 2px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
nav a
{
  display:inline-block;
  padding:5px;
  font-size:20px;
  color:white;
  text-decoration:none;
}

menu
{
  position: relative;
}